apiVersion: apps/v1
kind: Deployment
metadata:
  name: db
  namespace: ns-13
spec:
  replicas: 1
  selector:
    matchLabels:
      app: db
  template:
    metadata:
      labels:
        app: db
    spec:
      containers:
      - name: mysql
        image: mysql:5.7
        args:
        - "--character-set-server=utf8mb4"
        - "--collation-server=utf8mb4_unicode_ci"
        env:
        - name: MYSQL_ROOT_PASSWORD
          value: "root_pass"
        - name: MYSQL_DATABASE
          value: "my_db"
        - name: MYSQL_USER
          value: "vladislav"
        - name: MYSQL_PASSWORD
          value: "!Hello_World123"
        ports:
        - containerPort: 3306
---
apiVersion: v1
kind: Service
metadata:
  name: db-service
  namespace: ns-13
spec:
  selector:
    app: db
  ports:
  - port: 3306

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-app
  namespace: ns-13
spec:
  replicas: 1
  selector:
    matchLabels:
      app: my-app
  template:
    metadata:
      labels:
        app: my-app
    spec:
      containers:
      - name: my-app-container
        image: fr1d4y/rvs-app:v1
        command: ["/bin/sh"]
        args: ["-c", "flask db upgrade && flask run --host=0.0.0.0"]
        imagePullPolicy: Always
        ports:
        - containerPort: 5000
        env:
        - name: DB_HOST
          value: "db-service"
        - name: DB_PORT
          value: "3306"
        - name: DB_NAME
          value: "my_db"
        - name: DB_USER
          value: "vladislav"
        - name: DB_PASSWORD
          value: "!Hello_World123"
---
apiVersion: v1
kind: Service
metadata:
  name: web-server
  namespace: ns-13
spec:
  selector:
    app: my-app
  ports:
  - port: 80
    targetPort: 5000
